{% load extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <a href="{% url 'a_core:home' %}">Voltar</a>
    <h1>Lista</h1>
    <a href="{% url criar_url %}">{{ label_criar }}</a>
    <ul>
        {% for obj in object_list %}
            <li>
                <a href="{% url 'a_core:detalhes_laudo_modelo' obj.pk %}">{{ obj }}</a> <a href="{% url editar_url obj.pk %}">Editar</a>
                {% if obj.topicos_associados.all %}
                    <ul>
                        {% for topico in obj.topicos_associados.all %}
                            <li>
                                <strong>{{ topico.nome_topico }}</strong>
                                <ul style="margin-left: 20px;">
                                    {% if topico.redacoes_associadas.all %}
                                        {% for redacao in topico.redacoes_associadas.all %}
                                            <li>- {{ redacao.nome_redacao }}: {{ redacao.texto_redacao|truncatechars:50 }}</li>
                                        {% empty %}
                                            <li>Nenhuma redação associada a este tópico.</li>
                                        {% endfor %}
                                    {% else %}
                                        <li>Nenhuma redação associada a este tópico.</li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% empty %}
                            <li>Nenhum tópico associado.</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% empty %}
            <li>Nenhum item encontrado.</li>
        {% endfor %}
    </ul>
</body>
</html>